        - '#Cannot call method [a-zA-Z0-9_]+\(\) on mixed\.#'
        - '#Parameter \#[0-9]+ \$[a-zA-Z0-9_]+ of function view expects view-string\|null, string given\.#'
        - '#Access to property \$[a-zA-Z0-9_]+ on an unknown class HtmlString#'
